@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap'); /* Adicionei o 800 */

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  /* Fundo muito levemente cinza ou branco */
  background-color: #f7f9f9; 
  color: #0f1419; /* Texto escuro padrão */
}
