.tweet-button {
  background-color: #1DA1F2;
  color: white;
  border: none;
  border-radius: 9999px; /* Para ficar bem redondo */
  padding: 15px;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s;
}

.tweet-button:hover {
  background-color: #0c85d0;
}